# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.env.production
.env.local
.venv
env/
venv/
ENV/
backend-env/

# Database
*.db
*.sqlite3

# Media files
media/

# Logs
logs/
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/

test.db
